page-home {
    .content {
        background-color: rgba(0, 0, 0, 0);
    }
}

ion-app {
    background-color: rgba(0, 0, 0, 0) !important;
}

.nav-decor {
    background-color: rgba(0, 0, 0, 0) !important;
}