<?xml version='1.0' encoding='utf-8'?>
<plugin id="DemoPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DemoPlugin</name>
    <js-module name="DemoPlugin" src="www/DemoPlugin.js">
        <clobbers target="cordova.plugins.DemoPlugin" />
    </js-module>
</plugin>
